@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap&subset=cyrillic-ext");
@font-face {
  font-family: 'Arial';
  src: url("ArialMT.eot");
  src: url("ArialMT.eot?#iefix") format("embedded-opentype"), url("ArialMT.woff") format("woff"), url("ArialMT.ttf") format("truetype"), url("ArialMT.svg#ArialMT") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url("Arial-BoldMT.eot");
  src: url("Arial-BoldMT.eot?#iefix") format("embedded-opentype"), url("Arial-BoldMT.woff") format("woff"), url("Arial-BoldMT.ttf") format("truetype"), url("Arial-BoldMT.svg#Arial-BoldMT") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "icon";
  font-display: swap;
  src: url("../fonts/icon.woff") format("woff"), url("../fonts/icon.woff2#_icon") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Arial";
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

input, button, textarea {
  font-family: inherit;
}

a {
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button, a {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  background-color: #e5e5e5;
  color: #414346;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1072px;
  margin: 0 auto;
  padding: 0 15px;
  /*
	@media (max-width: $md1 + px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
	*/
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  min-height: 112px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 42px 162.5px 0;
}

.menu__link {
  color: inherit;
  font-size: 24px;
  line-height: 115%;
}

.menu__link:hover {
  text-decoration: underline;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 840px) and (max-width: 1200px) {
  .menu__link {
    font-size: 16px;
  }
}

.footer__container {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #414346;
  margin: 72px 0 0 0;
  padding: 0 32px;
}

.footer__year {
  color: #fff;
}

.github__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.github__name {
  color: #fff;
  padding: 0 0 0 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.github__name:hover {
  color: #8b96a7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body.lock {
  overflow: hidden;
}

.page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  padding: 112px 0 0 0;
}

.page__left-side {
  width: 360px;
  color: #fff;
}

@media (max-width: 1199px) {
  .page__left-side {
    display: none;
  }
}

.left {
  background-color: #414346;
  border-radius: 6px 0 0 6px;
}

.left__img {
  padding: 5px 4px 47px 4px;
}

.left__img img {
  border-radius: 6px;
}

.left__education {
  padding: 0 0px 72px 32px;
}

.title {
  font-size: 32px;
  line-height: 115%;
  font-weight: 700;
  padding: 0 0 24px 0;
}

.education > *:not(:first-child):not(:last-child) {
  padding: 0 0 24px 0;
}

.info > *:not(:last-child) {
  padding: 0 0 8px 0;
}

.info span {
  margin: 0 0 0 2px;
}

.info__bold {
  line-height: 115%;
  font-weight: 700;
}

.info__link {
  display: block;
}

.info__link span:hover {
  text-decoration: underline;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.info__link:not(:last-child) {
  padding: 0 0 15px 0;
}

.left-contacts {
  padding: 0 0px 0px 32px;
}

.page__top-side {
  min-width: 712px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top {
  max-height: 314px;
  background-color: #414346;
  border-radius: 8px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1200px) {
  .top {
    background-color: #fff;
    color: #414346;
  }
}

@media (min-width: 1200px) {
  .top__img {
    display: none;
  }
}

.top__img img {
  border-radius: 6px;
  width: auto;
  height: 100%;
}

.about {
  padding: 24px 32px 0 32px;
}

.about__name-me {
  margin: 0px 0px 21px 0px;
  font-size: 48px;
  line-height: 115%;
  font-weight: 700;
}

@media (min-width: 1200px) {
  .about__name-me {
    font-size: 56px;
    margin: 0px 0px 8px 0px;
  }
}

.about__name-info {
  padding: 0 0 32px 0;
  line-height: 115%;
  font-weight: 700;
}

@media (min-width: 1200px) {
  .about__name-info {
    font-size: 24px;
    padding: 0 0 72px 0;
  }
}

@media (min-width: 1200px) {
  .about__me-title {
    padding: 0 0 8px 0;
  }
}

.about__me-text {
  line-height: 115%;
}

.page__buttom-side {
  background-color: #fff;
  margin: 16px 0 0px 0;
  border-radius: 8px;
  color: #414346;
  padding: 32px 32px 0px;
}

@media (min-width: 1200px) {
  .page__buttom-side {
    margin: 0;
    padding: 72px 32px 0 32px;
  }
}

.page__buttom-side > * {
  padding-bottom: 64px;
}

@media (min-width: 1200px) {
  .page__buttom-side > * {
    padding-bottom: 72px;
  }
}

.buttom__bold {
  font-weight: 700;
  line-height: 115%;
}

.buttom__practice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttom__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills__title {
  margin: 0 0 12px 0;
}

.skills__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills__block-one {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.skills__bold span {
  padding: 12px 0 12px 24px;
  position: absolute;
}

.skills__item > *:not(:last-child) {
  margin: 0 0 32px 0;
}

.skills__block-two {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (min-width: 1200px) {
  .practice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.practice__experience {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin: 0 16px 0 0;
}

@media (min-width: 1200px) {
  .practice__experience {
    padding: 0 0 72px 0px;
  }
}

.practice__projects {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin: 0 0px 0 16px;
}

@media (min-width: 1200px) {
  .practice__projects {
    margin: 0px;
  }
}

.projects__buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.projects__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  padding: 2px 48px;
  color: #000;
  background: #f1f1f1;
  border: 2px solid #000000;
  border-radius: 20px;
  font-weight: 700;
  line-height: 115%;
  text-align: center;
}

.example__code {
  font-family: 'Roboto Mono';
  font-weight: 300;
  font-size: 14px;
  line-height: 132%;
}

@media (min-width: 1200px) {
  .part {
    display: none;
  }
}

.part__education {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin: 0 16px 0 0;
}

.part__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin: 0 0px 0 16px;
}
